# Visual Studio cache and settings
.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
*.log

# CMake intermediate files (if使ってるなら)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Others
*.pdb
*.ipch
*.idb
*.ilk
*.aps
*.ncb
*.opendb
*.tlog
*.vscode/

# FBX SDK / 外部ライブラリ
*.lib
*.dll

# ビルド成果物
/bin/
/obj/
/Debug/
/Release/

